@page {
    size: A4;
    margin: 0;
  }
  body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px;
    text-align: left;
  }
  table {
    width: 100%;
    page-break-inside: auto;
  }
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }
